
.item{
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    box-shadow: 5px 5px 5px hsla(241, 100%, 22%, 0.226);
    padding: 20px;
    margin: 10px;
    text-align: center;
    max-width: 250px;
    display: inline-block;
  }

  